/*TAG SELECTORS*/
body{
    background-color: #D8D9CF;
}
h1{
    color:red;
}
/*CLASS SELECTORS*/
.bacon{
    background-color: yellowgreen;
}
.peppers{
    background-color: #E3C770;
}
.circular{
    border-radius: 100%;
}

/*classes and ids get more priotrity so this gets overwritten by it */
img:hover{/*pseudoclass*/
    background-color: burlywood;
}
/*ID SELECTORS*/
#heading{
    color:blue;
}