body{
    background-color: #F1F7B5;
}
hr{
    border-style: dotted none none;
    border-color:grey ; 
    background-color: #F1F7B5;
    border-width:5px;
    height: 0px;
    
    width:10%;
}
h1{
    color:#FD8A8A;
}
h2{
    color:#FD8A8A;
}